<div class="box">
  <div class="container">
    <div class="row">


      <!-- <div *ngFor="let users of usuarios"> -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngFor="let user of usuarios">
        <div class="box-part text-center">
          <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
          <div class="title">
            <h4>{{ user?.email }}</h4>
          </div>
          <div class="text">
            <span *ngIf="user.admin == 'true'">Admin: Sim</span>
            <span *ngIf="user.admin != 'true'">Admin: Não</span>
          </div>
          <a (click)="deleteUsers(user)">Excluir </a>
          <a (click)="openModal(template)">| Editar</a>
          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">{{ user?.email }}</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <b>E-mail</b> {{ user?.email }}.
              <br>
              <!-- <b>Senha</b> {{ user?.password }}. -->
              <br>
              <b>Admin</b> <select #admin class="form-control">
                <option>Sim</option>
                <option>Não</option>
              </select>
            </div>
          <div class="modal-footer">
            <button (click)="confirmar(admin.value, user?._id)">Confirmar</button>
          </div>
          </ng-template>
          <!-- <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button> -->
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>