




<aside class="sidebar">
  <div class="sidebar-container">
      <div class="sidebar-header">
          <div class="brand">
              <a routerLink="/">
                  <div class="logo">
                      <span class="l l1"></span>
                      <span class="l l2"></span>
                      <span class="l l3"></span>
                      <span class="l l4"></span>
                      <span class="l l5"></span>
                  </div>
                  Modular Admin
              </a>
          </div>
      </div>
      <nav class="menu">
          <ul class="sidebar-menu metismenu" id="sidebar-menu">
              <li class="active">
                  <a routerLink="/">
                      <i class="fa fa-home"></i> Dashboard
                  </a>
              </li>
              <li>
                  <a href="">
                      <i class="fa fa-th-large"></i> Items Manager
                      <i class="fa arrow"></i>
                  </a>
                  <ul class="sidebar-nav">
                      <li>

                          <a routerLink="/items/list"> Items List </a>
                      </li>
                      <li>
                          <a routerLink="/items/edit"> Item Editor </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="">
                      <i class="fa fa-bar-chart"></i> Charts
                      <i class="fa arrow"></i>
                  </a>
                  <ul class="sidebar-nav">
                      <li>
                          <a routerLink="/charts/flot"> Flot Charts </a>
                      </li>
                      <li>
                          <a routerLink="/charts/morris"> Morris Charts </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="">
                      <i class="fa fa-table"></i> Tables
                      <i class="fa arrow"></i>
                  </a>
                  <ul class="sidebar-nav">
                      <li>
                          <a routerLink="/tables/static"> Static Tables </a>
                      </li>
                      <li>
                          <a routerLink="/tables/responsive"> Responsive Tables </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a routerLink="/forms">
                      <i class="fa fa-pencil-square-o"></i> Forms
                  </a>
              </li>
              <li>
                  <a href="">
                      <i class="fa fa-desktop"></i> UI Elements
                      <i class="fa arrow"></i>
                  </a>
                  <ul class="sidebar-nav">

                      <li>
                          <a routerLink="/ui-elements/buttons"> Buttons </a>
                      </li>
                      <li>
                          <a routerLink="/ui-elements/cards"> Cards </a>
                      </li>
                      <li>
                          <a routerLink="/ui-elements/typography"> Typography </a>
                      </li>
                      <li>
                          <a routerLink="/ui-elements/icons"> Icons </a>
                      </li>
                      <li>
                          <a routerLink="/ui-elements/grid"> Grid </a>
                      </li>
                      
                  </ul>
              </li>
              <li>
                  <a href="">
                      <i class="fa fa-file-text-o"></i> Pages
                      <i class="fa arrow"></i>
                  </a>
                  <ul class="sidebar-nav">
                      <li>
                          <a routerLink="/login"> Login </a>
                      </li>
                      <li>
                          <a routerLink="/signup"> Sign Up </a>
                      </li>
                      <li>
                          <a routerLink="/resetpasswd"> Reset </a>
                      </li>
                      <li>
                          <a href="error-404.html"> Error 404 App </a>
                      </li>
                      <li>
                          <a routerLink="/error404"> Error 404 Global </a>
                      </li>
                      <li>
                          <a href="error-500.html"> Error 500 App </a>
                      </li>
                      <li>
                          <a routerLink="/error500"> Error 500 Global </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="">
                      <i class="fa fa-sitemap"></i> Menu Levels
                      <i class="fa arrow"></i>
                  </a>
                  <ul class="sidebar-nav">
                      <li>
                          <a href="#"> Second Level Item
                              <i class="fa arrow"></i>
                          </a>
                          <ul class="sidebar-nav">
                              <li>
                                  <a href="#"> Third Level Item </a>
                              </li>
                              <li>
                                  <a href="#"> Third Level Item </a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="#"> Second Level Item </a>
                      </li>
                      <li>
                          <a href="#"> Second Level Item
                              <i class="fa arrow"></i>
                          </a>
                          <ul class="sidebar-nav">
                              <li>
                                  <a href="#"> Third Level Item </a>
                              </li>
                              <li>
                                  <a href="#"> Third Level Item </a>
                              </li>
                              <li>
                                  <a href="#"> Third Level Item
                                      <i class="fa arrow"></i>
                                  </a>
                                  <ul class="sidebar-nav">
                                      <li>
                                          <a href="#"> Fourth Level Item </a>
                                      </li>
                                      <li>
                                          <a href="#"> Fourth Level Item </a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="https://github.com/modularcode/modular-admin-html">
                      <i class="fa fa-github-alt"></i> Theme Docs </a>
              </li>
          </ul>
      </nav>
  </div>

  <!--
   ==  Customeze na menu
  -->

  <footer class="sidebar-footer">
      <ul class="sidebar-menu metismenu" id="customize-menu">
          <li>
              <ul>
                  <li class="customize">
                      <div class="customize-item">
                          <div class="row customize-header">
                              <div class="col-4"> </div>
                              <div class="col-4">
                                  <label class="title">fixed</label>
                              </div>
                              <div class="col-4">
                                  <label class="title">static</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-4">
                                  <label class="title">Sidebar:</label>
                              </div>
                              <div class="col-4">
                                  <label>
                                      <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed">
                                      <span></span>
                                  </label>
                              </div>
                              <div class="col-4">
                                  <label>
                                      <input class="radio" type="radio" name="sidebarPosition" value="">
                                      <span></span>
                                  </label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-4">
                                  <label class="title">Header:</label>
                              </div>
                              <div class="col-4">
                                  <label>
                                      <input class="radio" type="radio" name="headerPosition" value="header-fixed">
                                      <span></span>
                                  </label>
                              </div>
                              <div class="col-4">
                                  <label>
                                      <input class="radio" type="radio" name="headerPosition" value="">
                                      <span></span>
                                  </label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-4">
                                  <label class="title">Footer:</label>
                              </div>
                              <div class="col-4">
                                  <label>
                                      <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
                                      <span></span>
                                  </label>
                              </div>
                              <div class="col-4">
                                  <label>
                                      <input class="radio" type="radio" name="footerPosition" value="">
                                      <span></span>
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class="customize-item">
                          <ul class="customize-colors">
                              <li>
                                  <span class="color-item color-red" data-theme="red"></span>
                              </li>
                              <li>
                                  <span class="color-item color-orange" data-theme="orange"></span>
                              </li>
                              <li>
                                  <span class="color-item color-green active" data-theme=""></span>
                              </li>
                              <li>
                                  <span class="color-item color-seagreen" data-theme="seagreen"></span>
                              </li>
                              <li>
                                  <span class="color-item color-blue" data-theme="blue"></span>
                              </li>
                              <li>
                                  <span class="color-item color-purple" data-theme="purple"></span>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul>
              <a href="">
                  <i class="fa fa-cog"></i> Customize </a>
          </li>
      </ul>
  </footer>

</aside>

<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>
